.vscode
*.db
.DS_Store
.idea
.python-version
venv
env
__pycache__
*.pyc
.coverage
/front_stage/
/front/
/front_test/
/front_demo/
front_stage
front_test
front_demo
*CSVDump*
/data/
/data_stage/
/data_minio/
gl-dependency-scanning-report.json
gl-code-quality-report.json
/.directory
api/celerybeat-schedule*
/api/celerybeat.pid
.mypy_cache
report.xml
/.horusec/
/.data/
/dump.sql
fm/
fm
